<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин одежды</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="icon_header">   
            <h1 class="header_text">Магазин одежды</h1>
        </div>
    </header>
        <nav class="all-buttons">
            <a href="/">Все товары</a>
            <a href="/shoes/">Обувь</a>
            <a href="/jackets/">Куртка</a>
        </nav>
    <main>
        {% block content %}
            Страница не заполнена
        {% endblock content %}  
    </main>
</body>
<footer>
    © 2024 СтудентГигбрейнс
</footer>
</html>
